.about-page {
  font-family: "Segoe UI", Arial, sans-serif;
}
.about-hero {
  height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
}

.about-hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.breadcrumb {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.breadcrumb span {
  color: var(--primary);
}

.about-hero-content h1 {
  font-size: 48px;
  color: var(--primary);
}

.hero-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--secondary);
}
.about-content {
  padding: 80px 60px;
}

.about-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

.section-tag {
  color: var(--secondary);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
}

.about-text h2 {
  font-size: 36px;
  color: var(--primary);
  margin: 15px 0 25px;
}

.about-points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  margin-bottom: 20px;
}

.point {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--secondary);
  border-radius: 50%;
}

.about-desc {
  color: #555;
  line-height: 1.7;
}

.testimonial {
  padding: 100px 20px;
  background: linear-gradient(to right, rgb(0, 77, 77), #1e40af);
  color: white;
  text-align: center;
}

.founder-img {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #93c5fd;
}

.founder-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote {
  font-size: 20px;
  font-style: italic;
  margin: 30px auto;
  max-width: 700px;
}

.role {
  color: #bfdbfe;
  margin-top: 5px;
}
.contact-section {
  padding: 80px 40px;
  background: #f9fafb;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header span {
  color: rgb(0, 77, 77);
  font-weight: 600;
  letter-spacing: 2px;
}

.contact-header h2 {
  font-size: 36px;
  color:rgb(0, 77, 77);
}

.contact-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.contact-card {
  padding: 30px;
  text-align: center;
  background: #dbeafe;
  color: rgb(0, 77, 77);
  border-radius: 10px;
  white-space: pre-line;
}

.contact-card.active {
  background: rgb(0, 77, 77);
  color: white;
}
@media (max-width: 900px) {
  .about-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }
}
