.contact-page {
  font-family: "Segoe UI", Arial, sans-serif;
}

/* HERO */
.contact-hero {
  height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.contact-hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.breadcrumb {
  color: #ddd;
  margin-bottom: 10px;
}

.breadcrumb span {
  color: var(--primary);
}

.contact-hero-content h1 {
  font-size: 48px;
  color: white;
}

.hero-bottom-line {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: rgb(0, 77, 77);
}

/* MAP */
.map-section {
  padding: 60px;
}

.map-section iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 10px;
}

/* CONTACT CONTENT */
.contact-content {
  padding: 80px 60px;
}

.contact-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
.contact-form {
  background: rgb(0, 77, 77);
  padding: 50px;
  border-radius: 12px;
  color: white;
}

.contact-form span {
  color: rgb(255, 255, 255),;
  letter-spacing: 2px;
  font-size: 14px;
}

.contact-form h2 {
  margin: 10px 0 30px;
  font-size: 32px;
}

.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: rgb(23, 56, 56);
  color: white;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ffffff;
}

.contact-form .full {
  grid-column: span 2;
}

.contact-form button {
  padding: 14px;
  background: #ffffff;
  color: rgb(0, 77, 77);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.contact-info {
  display: grid;
  gap: 20px;
}

.info-card {
  padding: 30px;
  border-radius: 12px;
  background: #c2f9ec;
  color: rgb(0, 77, 77);
  text-align: center;
  white-space: pre-line;
}

.info-card.active {
  background: linear-gradient(to right, rgb(0, 77, 77), #1e40af);
  color: white;
}
@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-hero-content {
    padding: 0 30px;
  }

  .map-section,
  .contact-content {
    padding: 40px 20px;
  }
}
