
.foot {
  background-color:  rgb(0, 77, 77);;
  color: #ffffff;
  padding: 60px 60px 30px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.foot-top {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footc h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footc ul {
  list-style: none;
  padding: 0;
}

.footc ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footc p {
  margin-bottom: 10px;
}

.brand h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
.news {
  display: flex;
  margin-top: 10px;
}
.news input {
  padding: 12px;
  width: 220px;
  border: none;
  outline: none;
}

.news button {
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  background-color: rgb(26, 167, 161);
  color: rgb(0, 77, 77);
  font-size: 16px;
}

.foot-bottom {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .foot-top {
    flex-direction: column;
  }

  .foot-bottom {
    flex-direction: column;
    gap: 15px;
  }
}
